:root {
  --primary: #7abaff;
  --success: #7affa2;
  --background: #fafafa;
  --text: #242424;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Inter", Arial, Verdana, sans-serif;
  font-weight: 500;
  letter-spacing: 110%;
  background-color: var(--background);
  color: var(--text);
}
